{% extends 'base.html' %}
{% block body %}
    {% for Entry in SeriesData %}
        <div class="row">
            <div class="col-md-3">
                {{ Entry.SeriesName }}
            </div>
            <div class="col-md-6">
                <img class="img-thumbnail" src="{{ Entry.banner }}">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" onclick="location.href = '{% url 'ParseShow' Entry.id %}'">Add</button> <br />
            </div>
        </div>
    {% endfor %}
{% endblock %}